@use '@/global.module' as page;

.match {
  border: 2px solid page.$darkGrey;
  width: 60%;
  aspect-ratio: 1.61 / 1;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  .topSection {
    height: 45%;
    border-bottom: 2px solid page.$darkGrey;
    display: flex;
    .gameSlot {
      border-right: 2px solid #161616;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      letter-spacing: 4px;
      flex-wrap: wrap;
      .slotText {
        display: inline-block;
        margin-left: 20px;
        letter-spacing: 2px;
      }
    }
    .usedLetters {
      flex: 1;
      display: flex;
      flex-direction: column;
      .letters {
        flex: 1;
        border-bottom: 2px solid page.$darkGrey;
        .incorrectLetters {
          display: flex;
          flex-direction: row;
          padding: 6px;
          gap: 12px;
          flex-wrap: wrap;
          .incorrectButton {
            box-shadow: none;
            height: 24px;
            font-size: 12px;
            &:active {
              top: 0px;
              box-shadow: none;
            }
          }
        }
      }
      .guesses {
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .keyboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 14px;
    .buttonRow {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      &:nth-child(1) {
        padding: 0px 10px;
      }
      &:nth-child(3) {
        padding: 0px 16px;
      }
      &:nth-child(4) {
        padding: 0px 58px;
      }
      .disabledButton {
        background-color: page.$grey;
        &:active {
          top: 0px;
          box-shadow: 3px 2px 0px 0px page.$darkGrey;;
        }
      }
    }
  }
}
