@use '@/global.module' as page;

.customButton {
  height: 46px;
  aspect-ratio: 1 / 1;
  position: relative;
  background-color: page.$white;
  border: 1.5px solid page.$darkGrey;
  font-size: 26px;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 3px 2px 0px 0px page.$darkGrey;
  transition-duration: 800ms;
  &:hover {
    transition-duration: 50ms;
  }
  &:active {
    top: 3px;
    box-shadow: 0px 0px 0px page.$darkGrey;
  }
}
